<div ng-if="tab == 'COMPARATOR'">
    <div class="row">
        <div class="col-md-6" ng-repeat="doc in compareList">
            <div class="panel panel-success" style="margin-top: 40px">
                <div class="panel-heading">
                    {{doc.doc.description}}
                </div>
                <div class="panel-body group-scrolling" style="max-height: 300px; overflow-y:scroll;">
                    <div ng-repeat="paragraph in doc.content track by $index">{{paragraph}}</div>
                </div>
            </div>
        </div>
    </div>
</div>