<div ng-if="tab == 'VERSIONS'" class="panel panel-warning" style="margin-top: 40px">
    <div class="panel-heading">
        Версии
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>Id</th>
            <th>Версия</th>
            <th>Описание</th>
            <th>Сравнить</th>
        </tr>
        <tr ng-repeat="version in versions">
            <td>
                {{version.id}}
            </td>
            <td>
                {{version.documentVersion}}
            </td>
            <td>
                {{version.description}}
            </td>
            <td>
                <button type="submit" class="btn btn-danger" ng-click="addToCompare(version)"
                        ng-if="getAddedDoc(version) != undefined">
                    -
                </button>
                <button type="submit" class="btn btn-success" ng-click="addToCompare(version)"
                        ng-if="getAddedDoc(version) == undefined">
                    +
                </button>
            </td>
        </tr>
    </table>
</div>